
build/sunspy.build/Debug/sunspy.build/Objects-normal/x86_64/sunspy.LinkFileList

*.d

*.dia

*.o

*.hmap

build/sunspy.build/Debug/sunspy.build/build-state.dat

build/sunspy.build/Debug/sunspy.build/sunspy.dep

sunspy.xcodeproj/project.xcworkspace/xcuserdata/mike.xcuserdatad/UserInterfaceState.xcuserstate
